**

!app/
!config/
!database/
!public/
!resources/
!routes/
!artisan
!composer.*
!.env*

!docker/

!bootstrap/app.php
!bootstrap/providers.php
!bootstrap/cache/.gitignore

!storage/api-docs/
!storage/app/
!storage/framework/
!storage/logs/

# Исключаем тесты
app/**/*Test*/
