# Base
APP_KEY=
APP_DEBUG=1
APP_ENV=development
APP_PORT=4000
APP_HOST=0.0.0.0
APP_NAME=tasker-bot

APP_URL="http://${APP_HOST}:${APP_PORT}"
APP_TIMEZONE=Asia/Vladivostok

# Logging
LOG_LEVEL=debug
LOG_CHANNEL=stderr

# DB
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=tasker_bot
DB_USERNAME=root
DB_PASSWORD=root

# Cache
CACHE_STORE=database
