# Nginx
NGINX_INTERNAL_PORT=80
NGINX_EXTERNAL_PORT=8080

# App
APP_NAME=tasker-bot
APP_ENV=development
APP_DEBUG=1
APP_KEY=

APP_HOST=app
APP_INTERNAL_PORT=4000
APP_EXTERNAL_PORT=4000
APP_URL=http://localhost:8080

APP_TIMEZONE=Asia/Vladivostok

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres

DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5432

DB_DATABASE=tasker_bot
DB_USERNAME=root
DB_PASSWORD=root

# RabbitMQ
QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=tasker_rabbitmq
RABBITMQ_VHOST=tasker-bot
RABBITMQ_USER=root
RABBITMQ_PASSWORD=root

RABBITMQ_JOBS_QUEUE=tasker.jobs.queue
RABBITMQ_JOBS_TIMEOUT=60

RABBITMQ_INTERNAL_PORT=5672
RABBITMQ_EXTERNAL_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Logging
LOG_LEVEL=debug
LOG_CHANNEL=stderr

# Cache
CACHE_STORE=redis
REDIS_HOST=tasker_redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=root
REDIS_PASSWORD=root

# Kaiten TaskTracker
KAITEN_API_URL=https://example.kaiten.ru
KAITEN_API_TOKEN=
KAITEN_API_TIMEOUT=30

# AI (OpenRouter API)
OPEN_ROUTER_AI_API_KEY=
OPEN_ROUTER_AI_API_URL=https://openrouter.ai/api/v1
OPEN_ROUTER_AI_MODEL=deepseek/deepseek-chat
OPEN_ROUTER_AI_TEMPERATURE=0.2
OPEN_ROUTER_AI_TIMEOUT=60

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=https://example.domain.com/api/v1/telegram/webhook
